body {
    background-color:rgb(118, 103, 116);
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .templateContainer {
    margin: 5% 0;
    transition: margin 0.3s ease;
  }
  
  .searchInput_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: margin 0.3s ease;
  }.searchInput_Container input {
    width: 100%;
    max-width: 400px;
    
    padding: 10px;
    margin: 20px;
    outline: none;
    border: 2px solid #ccc; /* Add a border */
    border-radius: 10px; /* Rounded corners */
    transition: width 0.3s ease, padding 0.3s ease;
  }
  
  /* Style the input when it's focused */
  .searchInput_Container input:focus {
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow on focus */
  }
  
  .templateContainer .template_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    
  }
  
  .templateContainer .template_Container .template {
    background-color: white;
    margin: 15px;
    padding: 0 20px;
    flex: 1 1 300px;
    transition: transform 0.3s ease;
  }
  
  .templateContainer .template_Container .template img {
    max-width: 100%;
    height: auto;
  }
  
  .templateContainer .template_Container .template:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  